.table {
  width: 100%;
  line-height: $line-height-body;
  border-collapse: collapse;

  thead {
    text-align: left;
  }

  th {
    padding: $spacing-m;
  }

  td {
    padding: $spacing-m;

    &.type {
      max-width: 200px;
    }

    &.default-value {
      max-width: 300px;
    }

    &.desc {
      min-width: 300px;
      max-width: 500px;
      word-wrap: break-word;
    }
  }
}
