.value {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  min-width: 250px;
  margin-top: 10px;
  transform: translate(-50%, -100%);
  visibility: hidden;
  opacity: 0;
  transition: $transition-fast;
}

.container {
  position: relative;
  display: inline;

  &:hover {
    > .value {
      margin-top: 0;
      visibility: visible;
      opacity: 1;
    }
  }
}

.label {
  cursor: pointer;
}
