/*=======================================
=            Reset Box Model            =
=======================================*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*=====  End of Reset Box Model  ======*/

body {
  position: relative;
  font-family: $font-family-lato;
  font-size: $font-size-m;
  line-height: 1.4rem;
}

button {
  border: 0;
  cursor: pointer;
  appearance: none;
  box-shadow: none;
  outline: none;
}

input,
textarea,
button {
  border: 0;
  background-color: inherit;
  outline: none;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
