.container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: $spacing-l;
  line-height: $line-height-body;
  flex: 1;
  min-height: 170px;
  overflow-y: auto;
}
