.container {
  position: relative;
  width: calc(100% - 20px);
  height: calc(100% - 30px);
  padding: 40px;
  min-height: 170px;
}

.action-bar {
  position: absolute;
  z-index: 1;
  right: 20px;
  bottom: 0;
  display: flex;
  height: 30px;
}
