.container {
  position: sticky;
  z-index: 99;
  top: 0;
  display: flex;
  height: 60px;
  align-items: center;
  grid-area: header;
}

.buttons {
  display: flex;
  font-size: $font-size-xl;
  flex: 1;
  justify-content: flex-end;
  padding-right: 30px;

  > i {
    cursor: pointer;
    transition: $transition-fast;
  }
}
