.container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'sidebar main main main';
  grid-template-columns: 280px auto;
}

.content {
  padding: $spacing-l 60px 60px;
  grid-area: main;
}
