.container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'sidebar main main main';
  grid-template-columns: 280px auto;
}

.content {
  grid-area: main;
  padding: $spacing-s 60px 60px;
  overflow: hidden;
}
