.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    text-align: left;
  }

  th {
    padding: $spacing-m;
  }

  td {
    padding: $spacing-m;

    &.desc {
      max-width: 600px;
      min-width: 400px;
      word-wrap: break-word;
    }
  }
}
