.table {
  line-height: $line-height-body;
  word-break: normal;
  border-collapse: collapse;

  th {
    padding: $spacing-s;
    text-align: center;
    border: 1px solid currentColor;
  }

  td {
    padding: $spacing-s;
    border: 1px solid currentColor;
  }
}
