.container {
  display: flex;
  width: 280px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: $spacing-s;
  max-height: 100%;
}

.title-container {
  position: relative;

  > h3 {
    margin: 0;
  }
}

.version {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  transform: translate(100%, -60%);
}
