.container {
  position: relative;
  display: flex;
  width: 300px;
  height: 100%;
  align-items: center;
  padding-left: 30px;
}

.input {
  margin-left: $spacing-s;
}

.result {
  position: absolute;
  z-index: 1;
  top: 60px;
  left: 0;
  width: 100%;
  padding: $spacing-l 30px;
}

.item {
  display: block;
  padding: $spacing-s 0;

  &--sub {
    padding: $spacing-s 30px;
  }

  &:not(&--title):hover {
    text-decoration: underline;
  }
}
