.container {
  position: relative;
  display: flex;
  width: 300px;
  height: 100%;
  align-items: center;
  padding-left: 30px;
}

%ulReset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.input {
  border: 0;
  color: inherit;
  background-color: inherit;
  margin-left: $spacing-s;
  outline: none;
}

.result {
  @extend %ulReset;

  position: absolute;
  z-index: 1;
  top: 60px;
  left: 0;
  width: 100%;
  padding: $spacing-l 30px;
}

.submenu {
  @extend %ulReset;
}

.item {
  display: block;
  padding: $spacing-s 0;
  color: inherit;
  text-decoration: none;

  &--sub {
    padding: $spacing-s 30px;
  }

  &:not(&--title):hover {
    text-decoration: underline;
  }
}
