.container {
  padding: 0;
  margin: 0;
  list-style: none;
}

%item {
  display: block;
  color: inherit;
  text-decoration: none;
}

.item {
  @extend %item;

  padding: $spacing-s 30px;
}

.subitem {
  @extend %item;

  padding: $spacing-s 30px $spacing-s 60px;
}

.title {
  display: block;
  padding: $spacing-s 30px;
}
